<h1>Notícias</h1>
<h4>Hello <%= current_user.name %></h4>

<ul id="notices">
	<%= render @notices %>
</ul>

fazer um calendário com suas atividades, e registrar suas metas. ir mostrando uma porcentagem do que realmente fez

Disponibiliar 

Cassifications 

	Study
	work
	travel
	go to movies
	